@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Lds Movies App</h1>
    <p>Review your full Movie List in <a class="navbar-brand" asp-controller="Movies" asp-action="Index">LDS Movie App</a>.</p>
</div>
